<div class = "navbar">
  <div class = "container">

    <div class = "navbar-header">
      <a class = "navbar-brand navbar-brand-image" href = "/">
        <img src = "/images/logo-login.png" alt = "Site Logo">
      </a>
    </div>

    <ul class = "nav navbar-nav navbar-right">
      <li class = "dropdown navbar-profile">
        <a class = "dropdown-toggle" data-toggle = "dropdown" href = "javascript:;">
          Bem Vindo <%= usuario %>
          <i class = "fa fa-caret-down"></i>
        </a>

        <ul class = "dropdown-menu" role = "menu">
          <li>
            <a href = "/usuario/perfil">
              <i class = "fa fa-user"></i>
              &nbsp;&nbsp; Perfil
            </a>
          </li>
          <li class = "divider"></li>
          <li>
            <a href = "/usuario/logout">
              <i class = "fa fa-sign-out"></i>
              &nbsp;&nbsp; Logout
            </a>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</div>

<div class = "mainbar">
  <div class = "container">
    <div class = "mainbar-collapse collapse">
      <ul class = "nav navbar-nav mainbar-nav">

        <li class = "home">
          <a href = "/">
            <i class = "fa fa-home"></i>
            Home...
          </a>
        </li>

        <li class = "gerenciamento dropdown">
          <a class = "dropdown-toggle" data-toggle = "dropdown" data-hover = "dropdown">
            <i class = "fa fa-plus-circle"></i>
            Gerenciar
            <span class = "caret"></span>
          </a>

          <ul class = "dropdown-menu">
            <li><a href = "/termo"><i class = "fa fa-font nav-icon"></i> Termos </a></li>
            <li><a href = "/categoria"><i class = "fa fa-asterisk nav-icon"></i> Categorias </a></li>
          </ul>
        </li>
        
        <% if(permissao == 1) { %>
          <li class = "usuarios" style = "float: right;">
            <a href = "/usuario/cadastro">
              <i class = "fa fa-cogs"></i>
              Usuários
            </a>
          </li>
        <% } %>

      </ul>
    </div>
  </div>
</div>
