<div class = "navbar">
  <div class = "container">
    <div class = "navbar-header">
      <a class = "navbar-brand navbar-brand-image" href = "/">
        <img src = "/images/logo.png" alt = "Site Logo">
      </a>
    </div>
  </div>
</div>

<hr class = "account-header-divider">
