<!DOCTYPE html>
<html class = "no-js">
  <head>
    <title> Cadastre-se | Gerenciamento de Patrimônios </title>
    <% include partials/head %>
  </head>

  <body class = "account-bg">
    <% include partials/headerSecondary %>

    <div class = "account-wrapper">
      <div class = "account-logo">
        <img src = "/images/logo-login.png" alt = "Logo Site">
      </div>

      <div class = "account-body">
        <h3 class = "account-body-title"> Inicie com uma Conta Grátis. </h3>
        <h5 class = "account-body-subtitle"> Cadastre-se em menos de 30 segundos. Sem uso do cartão de crédito ;) </h5>

        <% if (message.length > 0) { %>
          <div class = "alert alert-danger col-sm-12"> <%= message %> </div>
        <% } %>

        <form class = "form account-form" method = "POST" action = "/usuario/cadastrarUsuario">

          <div class = "form-group">
            <input type = "text" class = "form-control" name = "nome" placeholder = "Nome Completo" tabindex = "1" required>
          </div> <!-- /.form-group -->

          <div class="form-group">
            <input type = "text" class = "form-control" name = "usuario" placeholder = "Usuário" tabindex = "2" required>
          </div> <!-- /.form-group -->

          <div class = "form-group">
            <input type = "password" class = "form-control" name = "senha" placeholder = "Senha" tabindex = "3" required>
          </div> <!-- /.form-group -->

          <div class = "form-group">
            <button type = "submit" class = "btn btn-secondary btn-block btn-lg" tabindex = "4">
              Cadastrar &nbsp; <i class = "fa fa-play-circle"></i>
            </button>
          </div> <!-- /.form-group -->

        </form>
      </div> <!-- /.account-body -->

      <div class = "account-footer">
        <p>
          Já possui uma conta? &nbsp;
          <a href = "usuario/login"> Então faça seu login » </a>
        </p>
      </div> <!-- /.account-footer -->

    </div> <!-- /.account-wrapper -->
  </body>
</html>
