<!DOCTYPE html>
<html class = "no-js">
	<head>
    <title> Home | Gerenciamento de Patrimônios </title>
		<% include partials/head %>

		<script>
		  $(document).ready(function() {
		    $('.home').addClass("active");
		  });
		</script>
  </head>

  <body>
		<% include partials/headerDefault %>

    <div class = "container">
      <div class = "content">
        <div class = "content-container">

          <div class = "content-header">
            <h2 class = "content-header-title"> Seja bem-vindo ao sistema </h2>
          </div>

          <div class = "row">
            <div class = "col-md-12">
              <div class = "portlet">
                <ol class = "breadcrumb">
                  <li class = ""> Aqui ficarão as boas vindas do sistema talvez data </li>
                </ol>
              </div>
            </div>
          </div>

        </div> <!-- /.content-container -->
      </div> <!-- /.content -->
    </div> <!-- /.container -->

    <footer class = "footer"></footer>
  </body>
</html>
