<!DOCTYPE html>
<html class = "no-js">
  <head>
    <title> Login | Gerenciamento de Patrimônios </title>
    <% include partials/head %>
  </head>

  <body class = "account-bg">
    <% include partials/headerSecondary %>

    <div class = "account-wrapper">

      <div class = "account-logo">
        <img src = "/images/logo-login.png" alt = "Logo Site">
      </div>

      <div class = "account-body">
        <h3 class = "account-body-title"> Bem-Vindo ao Sistema </h3>
        <h5 class = "account-body-subtitle"> Por favor, faça o login para acessar as páginas de cadastro, edição, remoção e movimentação... </h5>

        <% if (message.length > 0) { %>
          <div class = "alert alert-danger col-sm-12"> <%= message %> </div>
        <% } %>

        <form class = "form account-form" method = "POST" action = "/usuario/logarUsuario">

          <div class = "form-group">
            <label for = "login-username" class = "placeholder-hidden"> Usuário </label>
            <input type = "text" class = "form-control" name = "usuario" placeholder = "Usuário" tabindex = "1" required>
          </div> <!-- /.form-group -->

          <div class = "form-group">
            <label for = "login-password" class = "placeholder-hidden"> Senha </label>
            <input type = "password" class = "form-control" name = "senha" placeholder = "Senha" tabindex = "2" required>
          </div> <!-- /.form-group -->

          <div class = "form-group">
          	<button type = "submit" class = "btn btn-primary btn-block btn-lg" tabindex = "3">
               Fazer Login &nbsp; <i class = "fa fa-play-circle"></i>
            </button>
          </div> <!-- /.form-group -->

        </form>
      </div>

      <div class = "account-footer">
        <p>
        Não possui uma conta? &nbsp;
        <a href = "/usuario/cadastro"> Inscreva-se agora » </a>
        </p>
      </div> <!-- /.account-footer -->

    </div> <!-- /.account-wrapper -->
  </body>
</html>
