<!DOCTYPE html>
<html class = "no-js">
  <head>
    <title> Login | Dicion치rio Termonol칩gico </title>
    <% include partials/head %>
  </head>

  <body class = "account-bg">
    <% include partials/headerSecondary %>

    <div class = "account-wrapper">

      <div class = "account-logo">
        <img src = "/images/logo-login.png" alt = "Logo Site">
      </div>

      <div class = "account-body">
        <h3 class = "account-body-title"> Bem-Vindo ao Sistema </h3>

        <% if (message.length > 0) { %>
          <div class = "alert alert-danger col-sm-12"> <%= message %> </div>
        <% } %>

        <form class = "form account-form" method = "POST" action = "/usuario/logarUsuario">

          <div class = "form-group">
            <label for = "login-username" class = "placeholder-hidden"> Usu치rio </label>
            <input type = "text" class = "form-control" name = "usuario" placeholder = "Usu치rio" tabindex = "1" required>
          </div>

          <div class = "form-group">
            <label for = "login-password" class = "placeholder-hidden"> Senha </label>
            <input type = "password" class = "form-control" name = "senha" placeholder = "Senha" tabindex = "2" required>
          </div>

          <div class = "form-group">
          	<button type = "submit" class = "btn btn-primary btn-block btn-lg" tabindex = "3">
              Fazer Login &nbsp; <i class = "fa fa-play-circle"></i>
            </button>
          </div>

        </form>
      </div>

    </div>
  </body>
</html>
