<!DOCTYPE html>
<html class = "no-js">
  <head>
    <title> Erro | Dicionário Terminológico </title>
    <% include partials/head %>
  </head>

  <body>
		<% include partials/headerSecondary %>

    <div class = "container" style = "margin-top: 150px;">
      <div class = "content">
    	  <div class = "content-container">
      	  <div class = "row">
        		<div class = "col-md-12">
          		<div class = "error-container">
            		<div class = "error-code"> 500 </div>

            		<div class = "error-details">
              		<h4> Houve um problema de serviço na página solicitada. </h4>
              		<br/>
              		<p><strong> O que devo fazer: </strong></p>

				          <ul class = "icons-list">
				            <li>
				              <i class = "icon-li fa fa-check-square-o"></i>
				                Você pode tentar atualizar a página, o problema pode ser temporário
				            </li>
				            <li>
				              <i class = "icon-li fa fa-check-square-o"></i>
				                Se você digitou a URL manualmente, verifique se ela está correto
				            </li>
				            <li>
				              <i class = "icon-li fa fa-check-square-o"></i>
				                Nada! Nós fomos notificados do problema e faremos nosso melhor para certificar-se que não aconteça outra vez!
				            </li>
									</ul>
									<div class = "form-group">
										<a href = "/" class = "btn btn-primary btn-block btn-lg">
											<i class = "fa fa-chevron-left"></i> &nbsp; Voltar 
										</a>
									</div>
            		</div>
          		</div>
       			</div>
    			</div>
        </div>
      </div>
    </div>

    <footer class = "footer"></footer>
  </body>
</html>
