<!DOCTYPE html>
<html class = "no-js">
  <head>
    <title> Erro | Gerenciamento de Patrimônios </title>
    <% include partials/head %>
  </head>

  <body>
    <% include partials/headerDefault %>

    <div class = "container">
      <div class = "content">
    	  <div class = "content-container">
      	  <div class = "row">
        		<div class = "col-md-12">
          		<div class = "error-container">
            		<div class = "error-code"> 500 </div>

            		<div class = "error-details">
              		<h4> Houve um problema de serviço na página solicitada. </h4>
              		<br/>
              		<p><strong> O que devo fazer: </strong></p>

				          <ul class = "icons-list">
				            <li>
				              <i class = "icon-li fa fa-check-square-o"></i>
				                Você pode tentar atualizar a página, o problema pode ser temporário
				            </li>
				            <li>
				              <i class = "icon-li fa fa-check-square-o"></i>
				                Se você digitou a URL manualmente, verifique se ela está correto
				            </li>
				            <li>
				              <i class = "icon-li fa fa-check-square-o"></i>
				                Nada! Nós fomos notificados do problema e faremos nosso melhor para certificar-se que não aconteça outra vez!
				            </li>
				          </ul>
            		</div> <!-- /.error-details -->
          		</div> <!-- /.error -->
       			</div> <!-- /.col-md-12 -->
    			</div> <!-- /.row -->
        </div> <!-- /.content-container -->
      </div> <!-- /.content -->
    </div> <!-- /.container -->

    <footer class = "footer"></footer>
  </body>
</html>
